<header class="business-header">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="tagline">Manjari Foundation</h1>
              <p></p>
          </div>
      </div>
  </div>
</header>

