<div class="education-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Education Programs</h2>
		<div class="col-md-12">
			Manjari Foundation helps rural women understand the need of microfinance through inter-lending and savings. The fact that many of them are oblivious of different banking services meant for underprivileged women, has driven us to start our education programs with a focus on following sectors.
		</div>
		
		<div class="col-md-12">
			<h3 class="sub-title">Financial Education</h3>
			<p>The ultimate purpose is to create awareness about small-savings that can be availed through Government programs and banks. PRADAN plays pivotal role in offering financial education wherein SHG women are taught the rules of business and how to assemble their small savings to apply for small loans. The training program makes women confident and educated enough to approach government institutions, banks and other financial institutions for loans, and related purposes.</p>
			<p>Besides linking SHGs directly with banks for loans, PRADAN further educates how to set up partnership with private banks and apex lending institutions to finance livelihood programs. SHG women are educated about the benefit of crop insurance too. At present there are over 50 beema sakhis, who monitor Weather Based Crop Insurance Schemes of over 400 covered farmers.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Paravet Training</h3>
			<p>PRADAN addresses the problem of poor breeding and unscientific husbandry practices. They educate SHG women about the significance of better breeding, improved housing and advanced veterinary care. There are government agencies which educate women about immunization programs against different killer diseases. A cadre of paravets are further educated to provide routine animal health care on a regular basis. The training program has developed 50 Pashu Sakhis who are working closely with over 4000 SHG women.<p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Digital awareness/internet education</h3>
			<p>Tab based health intervention is a significant outcome of the program whereby SHG women are taught to work as Jan Sakhi. They visit every household to gather data like personal information, lifestyle, health history and other relevant data which are then fed in their tabs equipped with cloud based application. With this technology, it becomes easier for the patient to approach doctors from remote locations and get timely treatment. Sometimes the Jan Sakhi (JS) even takes audio/video clip for the doctor to listen/watch and recommend remedy accordingly.<p>
			<p>Under the Internet Sathi program launched with Tata Trust, each JS is provided 2 Tablets loaded with cloud based application, 2 Smartphone, 1 Power Bank and 1 Inter Cycle (bicycle). The program has made it possible not only to track patient’s ailments but also to monitor immunization programs, movement of Nurses, ANM, GNM and community based cadre, and any specific disease outbreak.</p>
			<p>Right now, digital awareness has improved health conditions of over 190 villages. Plan is there to educate more Internet Sathis in coming years, under this education program.</p>	
		</div>
	</div>
</section>