<div class="education-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Education Programs</h2>
		<div class="col-md-12">
			<p>The role of Knowledge is very important in Development. Knowledge connects people with the resources around them. Using these resources people gain protection in bad times and explore greater opportunities that are available. Manjari’s educational programs are geared to impart practical, working knowledge to rural women that help them overcome obstacles, get protection and access to new opportunities.</p>
		</div>
		
		<div class="col-md-12">
			<h3 class="sub-title">Financial Education</h3>
			<p>Manjari Foundation helps rural women understand the need of micro-finance through inter-lending and savings. The fact that many of them are oblivious of different banking services meant for underprivileged women, has driven us to start our education programs with a focus financial awareness.</p>
			<p>Manjari Foundation plays pivotal role in offering financial education wherein SHG women are taught about importance of small savings, the rules of business and how to assemble their small savings to apply for small loans. The training program makes women confident and educated enough to approach government institutions, banks and other financial institutions for loans, and related purposes.</p>
			<p>Besides linking SHGs directly with banks for loans, Manjari further educates how to set up partnership with private banks and apex lending institutions to finance livelihood programs. SHG women are educated about the benefit of crop insurance too. At present there are over 50 Beema Sakhis, who monitor Weather Based Crop Insurance Schemes of over 400 covered farmers.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Paravet Training</h3>
			<p>Dholpur being a milk rich area there are milch animals in almost every house hold. However, owing to traditional and obsolete practices of animal rearing, the animals are under threat of diseases and even short lifespan than normal. Manjari addresses the problem of poor breeding and unscientific husbandry practices by training community persons as para vets. Paravets are called Pashu Sakhis who educate SHG women about the significance of better breeding, improved housing and advanced veterinary care. Pashu Sakhis are trained by government agencies about immunization against different killer diseases. Paravets are further educated to provide routine animal health care on a regular basis. Manjari’s training program has developed 50 Pashu Sakhis who are working closely with over 4000 SHG women in the villages improving the life expectancy of cattle and in turn improving earning from livestock.<p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Digital awareness/internet education</h3>
			<p>The Internet Sathi program was launched with Tata Trust to improve digital awareness and leverage the power of Internet and smart-phones that are seeing deeper penetration in rural pockets. An Internet Sakhi is a community worker responsible for taking Internet to more and more rural communities. Every Internet Sakhi is provided with 2 Tablets loaded with cloud based applications, 2 Smart-phones, 1 Power Bank and 1 Inter-Cycle (bicycle based internet kiosk). They have been trained to use Smart-phone and Internet along with features like camera, calculator, gallery, play store, etc. About 70 Internet Sakhis are working actively with more than 20,000 community members to educate them on using these smart devices, applications and the Internet. Our goal is to reach out to more than 1,00,000 women with the Internet Sathi program by end of 2016.</p>
		</div>
	</div>
</section>