<div class="privacy-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Information Policy</h2>
		<div class="col-md-12">
      <h3 class="sub-title">Information Usage Rights</h3>
      <p>Manjari Foundation maintains this website for disseminating general information about its purpose and activities. Information published in this website is liable to be changed without notice. You may download content and resources displayed on this site for non-commercial purposes only, provided you also acknowledge the source. You may not distribute, modify, transmit, reuse, report, or use the contents of the site including the text, images, audio, and video for any illegal or commercial purposes.</p>
      <p>Also, any information on this website is for information purposes only and should not be construed as a professional advice or recommendation. Manjari Foundation will be happy to respond to any of your queries regarding the activities it undertakes.</p>
    </div>
    <div class="col-md-12">
      <h3 class="sub-title">Information Accuracy</h3>
      <p>Since Manjari Foundation is incessantly taking active strides on its path, a new facts and figures are often created and old ones keep changing. It is always our attempt to present accurate information as far as possible. The facts and figures provided in this website are to the best of our knowledge and belief at the time of the last update. We undertake conscious efforts to update our website information periodically.</p>
    </div>
    <div class="col-md-12">
      <h3 class="sub-title">User Submitted Information</h3>
      <p>It is our policy and commitment to use data submitted by users through Manjari site with care and respect. Any user submitting personal data using the website is a voluntary action. Our commitment is to safeguard the privacy of this data and use it for rightful intent for which data was submitted.</p>
    </div>
	</div>
</section>