<div class="livlihood-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Economic prosperity and Livelihoods</h2>
		<div class="col-md-12">
			<p class="text-justify">Manjari Foundation works with rural underprivileged families in the project areas of Dholpur, Rajasthan to promote and support independent livelihood programs for women. The objective is help small holders earn about INR 1.25 lac to INR 1.5 lac per annum. To achieve this, we identify the traditional livelihood options and the interventions points through which we can facilitate that much earning to our farmers. Given this approach, we zeroed on goat rearing, dairy farming and agriculture as we think these activities have tremendous potential to supplement income of rural families in the region. We are expanding our programs with active support from various partners including Government departments, financial institutions, banks and other resource institutions. Our mission is not only to help enhance income of poor households by supporting livelihood opportunities but we aim at overall empowerment too. From her deprived and underprivileged status, we envisage every woman from backward community attain a life of dignity and respect.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Goat Rearing</h3>
			<p class="text-justify">We are promoting goat based livelihoods especially with families living on Aravali plateau and the Chambal river basin. In this activity, we are working on following interventions:</p>
			
			<ul class="list">
				<li><span>1. </span>Bettering the rearing and management practices ( e.g. feed, fodder, shelter management, newly born kids management, etc) to improve the productivity</li>
				<li><span>2. </span>Optimizing the herd size</li>
				<li><span>3. </span>Reducing the kids and adult mortality</li>
				<li><span>4. </span>Providing preventative health care through Pashu Sakhi Model</li>
				<li><span>5. </span>Credit provision for increasing the herd size</li>
			</ul>
			
			<p class="text-justify">As on today, over 4800 farmers are involved in this activity, few of them even managing to earn over 1.5 lac per annum.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">INRM and Agriculture</h3>
			<p class="text-justify">With an objective of improving the carrying capacity of natural resources, enhancing the income of the family through sustainable livelihoods options, we devote major portion of our efforts in improving the land and water resources. Integrated natural resource management (INRM) involves improving the land, water and other resources in a given eco-system so that communities can sustain themselves without jeopardizing the usage of resources for the coming generation.<p>
			
			<p class="text-justify">Agriculture remains the major source of livelihood in our focus areas but productivity is low due to variety of reasons, limited awareness about package of practices, and absence of irrigation are few of them.</p>
			<p class="text-justify">Our agriculture intervention program aims at augmenting production of lead crops like Bajra, Mustard and Wheat by adopting appropriate technology. There are 230 Krishi Sakhis at the cluster level working with over 7000 women farmers, to monitor, support and create awareness about the program. We have helped set up of Krishi Pathsala at the village level.</p>
			<p class="text-justify">Preparing over 2000 kitchen gardens is another major achievement of the program which has helped add some nutritional value to the poor families’ daily diet.</p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Dairy Farming</h3>
			<p class="text-justify">Dairying in our project areas is found to be poorly developed though domestic animal population is actually higher than national average. Through our Dairy Farming program we have addressed issues like low milk production, poor rearing practices, non-descript breeds, inadequate veterinary services and almost nil market linkage.<p>
			<p class="text-justify">Our Dairying program, therefore, focuses on introducing better quality breeds, advanced feeding and husbandry practices, better housing and veterinary care. We have trained village women as paravets to monitor the Vaccination program. We have been able to link SHG women directly to the market with the help of Apni Saheli Producer Company Ltd., a registered women's dairy co-operative.</p>	
		</div>
	</div>
</section>