<div class="livlihood-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Livelihood Programs</h2>
		<div class="col-md-12">
			<p>Manjari Foundation works with rural underprivileged families in the project areas of Dholpur, Rajasthan to promote and support independent livelihood programs for women. Our focus is on goat rearing, dairy farming and agriculture as we feel these activities have tremendous potential to supplement income of rural families in the region. We are expanding our programs with active support from various quarters like Government bodies, financial institutions, banks and other resource institutions.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Goat Rearing</h3>
			<p>Manjari Foundation supports goat rearing programs whereby women are trained to optimize their livestock resources. The program aims at addressing few major problems like poor breeds (presently Dholpur has non-descript species only, i.e. Jamnapari and Sirohi) and unscientific husbandry practices which leads to reduced income and high mortality.</p>

			<p>Through the program we have been able to bring in better quality breeds and improved veterinary care. We have trained female paravets, named Pashu Sakhis who supervise Vaccination program in collaboration with government agencies. They also monitor the Deworming procedure while focusing on shed management, food, fibre and feeding issues. Over 4500 SHG women are presently involved in the livestock rearing programs. Meeting of Pashu Sakhis are held monthly at block level offices to review and plan next moves.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Agriculture</h3>
			<p>It remains the major source of livelihood in our project areas but productivity is suffering due to water shortage, limited awareness about advanced agriculture practises, and absence of modern technology. Income is further affected due to intervention of middlemen as there is no proper farmer's co-operative/producer company/aggregation.<p>
			
			<p>Our agriculture intervention program aims at augmenting production of lead crops like Bajra, Mustard and Wheat by adopting appropriate technology. There are 230 Krishi Sakhis at the cluster level working with over 7000 women farmers, to monitor, support and create awareness about the program. KS performances are supervised by 10 field co-ordinators. We have helped set up of Krishi Pathsala at the village level. Group management trainings and exposure visits are also conducted from time to time.</p>
			
			<p>Preparing over 2000 kitchen gardens is another major achievement of the program which has helped add some nutritional value to the poor families’ daily diet.</p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Dairy Farming</h3>
			<p>Dairying in our project areas is found to be poorly developed though domestic animal population is actually higher than national average. Through our Dairy Farming program we have addressed issues like low milk production, poor rearing practices, non-descript breeds, inadequate veterinary services and almost nil market linkage.<p>
			<p>Our Dairying program, therefore, focuses on introducing better quality breeds, advanced feeding and husbandry practices, better housing and veterinary care. We have trained village women as paravets to monitor the Vaccination program. We have been able to link SHG women directly to the market with the help of Apni Saheli Producer Company Ltd., a registered women's dairy co-operative.</p>	
		</div>
	</div>
</section>