<div class="organization-banner">
  <div class="container">
      <div class="row">
    	<div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
        </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Women's Institutions</h2>
		<div class="col-md-12">
			<p>Mobilizing rural women to build institutions remains top priority of Manjari Foundation. Presently Manjari works in over 400 villages and have reached out to 35,000 rural families through 2500 women Self Help Groups (SHGs). These Self-help groups are aggregated into Village Organizations or Clusters which work at the village level. They are further amalgamated into block level Federations. A clear picture of our women institutions structure is given below.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Self Help Groups</h3>
			<p>SHGs are an informal association of 10-20 women from similar socio-economic background and location, formed with the purpose to identify home-based enterprises or ‘honeybee activities’. Apart from engaging in independent livelihood activities these women participate in saving, inter-lending, and learn how to access banking and insurance services.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Federations</h3>
			<p>Federations play bigger role in that they set standards for SHGs and Clusters, collaborate with banks, Government bodies and other key organizations. The Federation trains CRPs or Community Resource Persons, Field Co-ordinators (FCs), Livestock Support Assistants (LSA), Para-vets, Computer staffs, Accountants and other key personnel who operate at the Cluster and SHG levels. Bolstering a sense of solidarity and well-being remains the Federation's top priority.<p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Cluster or Village Organization (VO)</h3>
			<p>A Cluster is a community organization which works with the local community, gram panchayats and PRI institutions to address identified developmental issues and come up with programs or solutions. Working at a village level the VO promotes peer learning, development of shared vision for the particular village while ensuring successful implementation and monitoring of village development programs.</p>
			<p>In case of Manjari Foundation, we support cluster build up in villages where the SHG size is minimum 8. Our VOs particularly concentrate on issues of women and marginalized communities with pro-poor focus. They monitor and supervise Community Resource Persons (CRPs) to make sure they are fulfilling their responsibilities.</p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Producer Companies</h3>
			<p>Producer Companies formalise income generating group activities of farmers as fully recognized business entities. The primary goal of a Producer Company is to generate higher levels of income for their member farmers. Producer Companies provide scale and bargaining power to small marginalized farmers, connect their products to market and connect them to the financial organizations for insurance and loans.<p>
			<p>As an example, Apni Saheli Producer Company Ltd, (ASPCL) promoted by Pradan, in Dholpur, Rajasthan, plays a key responsible role in enhancing income of SHGs which are into dairy based activities. They assist in milk marketing, and make sure that rural women get a fair price for their dairy products, thus cutting the dependency on middle men. ASPCL plays its role efficiently and is aiming big for dairy market in Dholpur.</p>	
		</div>
	</div>
</section>