<div class="organization-banner">
  <div class="container">
      <div class="row">
    	<div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
        </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Women's Institutions</h2>
		<div class="col-md-12">
			<p class="text-justify">At Manjari, we envision collectives and groups as the drivers of change which can address the issues of injustice and inequalities widespread in the society. We believe that when women from marginalized communities are organized into collectives, these could bring in changes in shared values, beliefs, norms and behavior. Therefore, we want to equip resource-poor women with knowledge and skills to form collectives which would help them occupy their position as equals in the society and enable them to enjoy full citizenship.</p>
			<p class="text-justify">Mobilizing rural women to build institutions remains one of the main strategy of the Foundation. Presently it works in over 460 villages and have reached out to 40,000 rural families through 2900 women Self Help Groups (SHGs). These Self-help groups are aggregated into Village Organizations/Clusters which work at the village level. They are further amalgamated into cluster level/block level Federations.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Self Help Groups</h3>
			<p class="text-justify">SHGs are an informal association of 10-20 women from similar socio-economic background and location, formed with the purpose to identify home-based enterprises or ‘honeybee activities’. Apart from engaging in independent livelihood activities these women participate in saving, inter-lending, and learn how to access banking and insurance services.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Cluster or Village Organization (VO)</h3>
			<p class="text-justify">A Cluster is a community organization which works with the local community, gram panchayats and other PRI institutions to address identified developmental issues and come up with programs or solutions. Working at a village level the VO promotes peer learning, development of shared vision for the particular village while ensuring successful implementation and monitoring of village development programs.<p>
			<p class="text-justify">In case of Manjari Foundation, we support cluster build up in villages where the SHG size is minimum 8. Our VOs particularly concentrate on issues of women and marginalized communities with pro-poor focus. They monitor and supervise implementation of development programs, functioning of village schools, anganwari centers, MGNREGS etc and also facilitate more meaningful engagement of Community cadre such as Community Resource Persons (CRPs) to make sure they are fulfilling their responsibilities. We envisage this institution of women to work towards the strengthening of grass-root democracy by collaborating with PRIs and also confronting the status –quo of the existing institutions.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Federations</h3>
			<p class="text-justify">In a three tier system of institutions, Federations are at the top level. They are the platforms for the women to come together and feel a power of togetherness, solidarity and equality. By having such kind of institution is place, they are able to negotiate, influence, assert, network, liaison with external world. Bolstering a sense of solidarity and well-being remains the Federation's main goal. As of now there are 11 such federations namely Saheli Dholpur, Sakhi Saheli Bari, Saheli Sarmathura, Saheli Dausa, Saheli Sankalp Saipau, Saheli Vikas Bijhauli, Saheli Chetna, Bari, Saheli Utthan, Sanora, Saheli Shakti, Kanchanpur, Saheli Samriddhi, Baseri, Saheli Kiran, Sarmathura, Saheli Jyoti, Baroli, Saheli Jagriti, Timasiya.</p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Producer Companies</h3>
			<p class="text-justify">Producer Companies formalise income generating group activities of farmers as fully recognized business entities. The primary goal of a Producer Company is to generate higher levels of income for their member farmers. Producer Companies provide scale and bargaining power to small marginalized farmers, connect their products to market and connect them to the financial organizations for insurance and loans.<p>
			<p class="text-justify">As an example, Apni Saheli Producer Company Ltd, (ASPCL) being promoted by us, in Dholpur, Rajasthan, plays a key role in enhancing income of women dairy farmers. They assist in milk marketing, and make sure that rural women get a fair price for their dairy products, thus cutting the dependency on middle men. ASPCL plays its role efficiently and is aiming big for dairy market in Dholpur. Apart from linking the small holders with more remunerative market options, it also ensures inputs, capacity building of women farmers to bettering the rearing and management practices, preventative health care through Pashu SAKHI model, reduction of calf mortality and inter-calving period, credit provision for assetization, and risk mitigation through relief funds (rahat kosh).</p>	
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">List of Organizations</h3>
			<table class="table table-bordered mentors-table">
				<thead>
					<tr>
						<th>Organization</th>
						<th>Location</th>
						<th>Coverage</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Saheli Dholpur</td>
						<td>1/363, Anand Nagar, Saipau Road, Dholpur, Rajasthan</td>
						<td>Dholpur, 15 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Sankalp,Saipau</td>
						<td>Saipau Road, Dholpur, Rajasthan</td>
						<td>Saipau, 14 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Vikas, Bijauli</td>
						<td>Bijauli, Bari, Dholpur, Rajasthan</td>
						<td>Bijauli cluster, 12 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Utthan,Sanora</td>
						<td>Sanora, Bari, Dholpur, Rajasthan</td>
						<td>Sanora cluster, 14 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Shakti,Kanchanpur</td>
						<td>Kanchanpur, Bari, Dholpur, Rajasthan</td>
						<td>Kanchanpur cluster, 15 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Samriddhi, Baseri</td>
						<td>Baseri, Dholpur, Rajasthan</td>
						<td>Baseri cluster, 15 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Kiran,Sarmathura</td>
						<td>Sarmathura, Baseri, Dholpur, Rajasthan</td>
						<td>Sarmathura cluster, 11 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Jyoti, Barauli</td>
						<td>Barauli, Sarmathura, Dholpur, Rajasthan</td>
						<td>Barauli cluster, 9 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Jagriti,Timasiya</td>
						<td>Timasiya, Baseri, Dholpur, Rajasthan</td>
						<td>Timasiya cluster, 15 panchayats</td>
					</tr>
					<tr>
						<td>Saheli Samiti, Dausa</td>
						<td>Dausa, Rajasthan</td>
						<td>Dausa, 40 panchayats</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>