<div class="supporters-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Our Supporters</h2>
		<div class="col-md-12">
			<p class="text-justify">Manjari Foundation values its supporters without whom it would not have been possible to start the journey and accomplish what we have achieved till date. We have received and continue to receive support from esteemed organizations and spirited individuals who share our belief and purpose. We would like to acknowledge with gratitude a few of Manjari’s long standing supporters.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Institutional Sponsors</h3>
			<p>Our institutional sponsors have actively supported many of our livelihood programs to help deprived women lead a life of dignity and self-respect.</p>
			<div class="supporters-list clearfix">
				<div class="col-md-6">
					<p><b>Centre of Microfinance, Jaipur</b></p>
					<p class="text-justify">Centre for microfinance (CmF) is an autonomous organization registered under the Rajasthan Societies Act, 1958. It came into existence in 2005 in response to the need for an agency to guide the growth of microfinance and particularly, community-based microfinance in Rajasthan.</p>
					<p><a href="http://www.cmfraj.org/" target="_blank"><b>CMF Website</b></a></p>					
				</div>
				<div class="col-md-6">
					<p><b>TATA Trusts</b></p>
					<p class="text-justify">The Tata Trusts are amongst India's oldest, non-sectarian philanthropic organisations. The funds have been deployed towards a whole range of community development programmes across the country, for over a 100 years now.  Since its inception, the Tata Trusts have played a pioneering role in transforming traditional ideas of charity and introducing the concept of philanthropy to make a real difference to communities. Through grant-making, direct implementation and co-partnership strategies, the Trusts support and drive innovation in the areas of natural resources management; education; healthcare and nutrition; rural livelihoods; enhancing civil society and governance; media, arts, crafts and culture; and diversified employment.</p>
					<p><a href="http://www.tatatrusts.org/" target="_blank"><b>TATA Trusts Website</b></a></p>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Mentors</h3>
			<div class="supporters-list clearfix">
				<div class="col-md-6">
					<p><b>PRADAN</b></p>
					<p class="text-justify">Established in 1983, PRADAN is a pioneer in SHG based livelihood development in the country that is working in the poorest districts across seven states in India. PRADAN is our key mentor who has helped set to motion the Manjari model. Their decades of expertise in promoting and nurturing Self-Help Groups (SHGs) of poor women and strengthening them as organisations, leveraging institutional finances, developing locally viable economic activities and increasing productivity through technical inputs, have built the platform that Manjari wishes to develop and expand. Manjari Foundation is in the process of taking over the operations at Dholpur from PRADAN. This will help reaching out to more deprived families in coming years.</p>
					<p><a href="http://www.pradan.net/" target="_blank"><b>www.pradan.net</b></a></p>
				</div>
				<div class="col-md-6">
					<p><b>Dr. Umesh Agarwal</b></p>
					<p class="text-justify">Extension Officer, Veterinary Assistant Surgeon and in-charge of Veterinary Hospital, and as Joint Director of the livestock and veterinary department Govt. of Rajasthan. Currently he is based in Jaipur, working as an officer on special duty with vice-chancellor of Veterinary University, Bikaner.</p>
					<p><b>Dr. Agarwal has over 38 years</b></p>
					<p class="text-justify">Dr. Agarwal has deep expertise in cattle breeding, goat keeping, breed farms, land and water management, watershed development, community mobilization, poultry farm and hatchery unit management, milk-meat-wool production, planning, supervision and monitoring of state plans for livestock development. He holds a Bachelor’s Degree in Veterinary Science and Animal Husbandry from Veterinary University, Bikaner.</p>
				</div>
			</div>

			<br>
			<div class="table-responsive">
				<table class="table table-bordered mentors-table">
					<thead>
						<tr>
							<th>Organization</th>
							<th>Location</th>
							<th>Coverage</th>
							<th>Organizations</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Saheli, Dholpur</td>
							<td>1/363, Anand Nagar, Saipau Road, Dholpur, Rajasthan</td>
							<td>Dholpur, 15 panchayats</td>
							<td>42 VO, 587 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Sankalp, Saipau</td>
							<td>Saipau Road, Dholpur, Rajasthan</td>
							<td>Saipau, 14 panchayats</td>
							<td>17 VO, 284 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Vikas, Bijauli</td>
							<td>Bijauli, Bari, Dholpur, Rajasthan</td>
							<td>Bijauli cluster, 12 panchayats</td>
							<td>22 VO, 224 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Chetna, Bari</td>
							<td>Bari, Dholpur, Rajasthan</td>
							<td>Bari cluster, 15 panchayats</td>
							<td>24 VO, 320 SHGs</td>
						</tr>
						<tr>
							<td>Saheli utthan, Sanora</td>
							<td>Sanora, Bari, Dholpur, Rajasthan</td>
							<td>Sanora cluster, 14 panchayats</td>
							<td>26 VO, 312 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Shakti, Kanchanpur</td>
							<td>Kanchanpur, Bari, Dholpur, Rajasthan</td>
							<td>Kanchanpur cluster, 15 panchayats</td>
							<td>34 VO, 347 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Samriddhi, Baseri</td>
							<td>Baseri, Dholpur, Rajasthan</td>
							<td>Baseri cluster, 15 panchayats</td>
							<td>27 VO, 268 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Kiran, Sarmathura</td>
							<td>Sarmathura, Baseri, Dholpur, Rajasthan</td>
							<td>Sarmathura cluster, 11 panchayats</td>
							<td>26 VO, 289 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Jyoti, Barauli</td>
							<td>Barauli, Sarmathura, Dholpur, Rajasthan</td>
							<td>Barauli cluster, 9 panchayats</td>
							<td>28 VO, 297 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Jagriti, Timasiya</td>
							<td>Timasiya, Baseri , Dholpur, Rajasthan</td>
							<td>Timasiya cluster, 15 panchayats</td>
							<td>22 VO, 280 SHGs</td>
						</tr>
						<tr>
							<td>Saheli Samiti, Dausa</td>
							<td>Dausa, Rajasthan</td>
							<td>Dausa, 40 panchayats</td>
							<td>30 VO, 280 SHGs</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Friends of Manjari</h3>
			<div class="supporters-list clearfix">
				<div class="col-md-6">
					<p class="text-justify">“During my association with PRADAN from 2002-03, I experienced rural life and worked with poorest of the poor people in Dholpur district of Rajasthan. It still happens to be the best part of my life. After joining corporate sector, I always wanted to re-engage with the development sector. I used to wonder if the innovation in mobile technology can be used for the benefit of rural poor. When I got to know about Manjari Foundation, I immediately got interested as it coincides with my idea of using the information technology for the betterment of life of the people living at the bottom of the pyramid. I sincerely hope that together we can make some positive difference in rural poor's lives.”</p>
					<p><b>Mr. Ram Kariya</b></p>
					<p class="text-justify">Mechanical Engineer from NIT, Rourkela. Senior Project Manager-IT for a leading US based Insurance provider based in Chicago, USA.</p>
				</div>
				<div class="col-md-6">
					<p class="text-justify">“I am a PhD Candidate in the Community, Culture and Global Studies unit at the University of British Columbia, Okanagan. My research interests include gender, caste, and rural economic development in India. More specifically, my work examines the impact of community-led microfinance programmes on the status of women participants, particularly socially marginalized women, within the household and in the labour market in Rajasthan, India. I have recently finished conducting field research in two of Rajasthan’s eastern districts: Dausa and Dholpur.”</p>
					<br>
					<p><b>Ms. Sumeet Sekhon</b></p>
					<p class="text-justify">MA University of Calgary, Canada. PhD candidate at the University of British Columbia, Okanagan</p>
				</div>
			</div>
		</div>
	</div>
</section>