<div class="supporters-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Our Supporters</h2>
		<div class="col-md-12">
			<p>We believe partnership is the most powerful tool which can bring organizations and people together. Manjari Foundation values its supporters without whom it would not have been possible to start the journey and accomplish what we have achieved till date. We have received support from organizations and individuals who believe in working towards mutual goal to collectively bring in positive changes. Listed below are the names of few of our esteemed supporters.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Donors</h3>
			<p>Centre of Microfinance, Jaipur and TATA Trust are our institutional sponsors who have actively supported many of our livelihood programs to help deprived women lead a life of dignity and self-respect.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Mentors</h3>
			<p>PRADAN is our key mentor who has helped set up the Manjari model. Their knowledge and expertise has enabled us to reach many rural families in the interiors of Rajasthan. We are in the process of taking over PRADAN operations which will make it easier for us to reach more deprived families in coming years. Apart from PRADAN there are many key individuals from whom we have received support and guidance, few of whom are (names)<p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Partners</h3>
			<p>We have helped many institutions grow by adopting the Manjari model like the Saheli Federation. We have promoted Apni Saheli Producer Company. Some of our other key partners are (names). Our association with each of our partners has helped enhance each other’s knowledge and skill levels.</p>
			<p>Apart from the above mentioned, there are many friends, admirers, and flag-bearers whose encouragement and support have remained our source of strength. Few names are listed below:- (names)</p>
		</div>
	</div>
</section>