<div class="our-mission-banner">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="tagline">Manjari Foundation</h1>
              <p></p>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Mission and Vision</h2>
		<br>
		<div class="col-md-12">
      Manjari Foundation is driven by the mission of promoting women’s institutions to
      bring in social justice and equality thus leading to rural transformation. We visualize
      an equitable society which can sustain continuous transformation in human
      conditions that is happening socially, economically, psychologically, politically and
      spiritually.
      <br>
      <br>
      At Manjari, we envision collectives and groups as the drivers of change which can be
      used to deal with injustice and inequalities in the society. We believe that when
      women from marginalized communities are organized into collectives, these could
      bring in changes in shared values, beliefs, norms and behaviour.
      <br>
      <br>

      Our mission therefore is to equip resource-poor women with knowledge and skills to
      form collectives which would help them occupy their position as equals in the society
      and enable them to enjoy full citizenship.
      Manjari Foundation’s vision is to empower women from marginalized communities
      both socially and economically so that they become the catalysts of change, not only
      in their own lives, but also for their families and the entire community. We visualize
      shaping up collectives such a way so that they can become strong and independent
      enough to bind people together and exert a normative influence on the society.
      <br>
      <br>

      Our mission is not only to help enhance income of poor households by supporting
      livelihood opportunities but we aim at overall empowerment too. From her deprived
      and underprivileged status we envisage every woman from backward community
      attain a life of dignity and respect.

		</div>
	</div>
</section>
