<div id="principals-banner">
  <div class="container">
      <div class="row">
    	<div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              	<h1>Manjari Foundation</h1> 
            </div>
        </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Core Belief and Principles</h2>
		<div class="col-md-12">
			<p>Our core beliefs can be summarized as:</p>
			<ul class="list">
				<li><span>1. </span>Women have potential which can be unleashed in conducive eco-system</li>
				<li><span>2. </span>Collectives can be the driver of change and can lead to enhanced sense of agency at the individual level</li>
				<li><span>3. </span>Community should be at the driver’s seat and set the agenda of change and take the lead</li>
				<li><span>4. </span>Sensitive and empathetic professionals need to work directly at the grass-roots</li>
				<li><span>5 </span>A long term engagement is needed to see sustained changes in the eco-system and the surroundings</li>
			</ul>
		</div>
	</div>
</section>