<div class="principals-banner">
  <div class="container">
      <div class="row">
    	<div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              	<h1>Manjari Foundation</h1> 
            </div>
        </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Core Principles</h2>
		<div class="col-md-12">
			<p>Our goal is to mobilize underprivileged women at the grass root level and help them exercise their right to lead lives with dignity by taking up remunerative and independent livelihood options. We engage deeply with women, their families and communities to create an environment of support. In all our engagements, we try to stay true to these core philosophies or principles.</p>
		</div>
		
		<div class="col-md-12">
			<h3 class="sub-title">Development through community engagement</h3>
			<p>
				The first principle is that all activities should actively engage the local community since true progress cannot come from detached outside inputs. Our mobilization activities start with gathering information about an area, followed by holding a meeting or small camp to garner support and awareness about our livelihood programmes for women. We encourage one-to-one or group conversations where inspiring stories of successful women initiatives at the grassroots are shared with the community. This helps address development challenges often posed by the community.
			</p>
			<p>
				Our grassroots engagement aims at identifying those who might be interested in our programs. At the same time, the process motivates their respective families and the community too.
			</p> 
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Sustainability</h3>
			<p>The second principle is that all activities undertaken by a community should sustain over time with minimal external support. To ensure continuance and sustainability of the livelihood program, we provide counselling and also conduct home visits from time to time. This helps create an environment of support for rural women and help them continue their endeavours.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Action on the field</h3>
			<p>Our third core principle is to focus on field activity. We don’t believe in giving instructions from air-conditioned cubicles and expect these to be executed precisely. Our team is always on the field, visiting remote areas, interacting with SHG members, and identifying their needs to enable an environment of mutual support.  We constantly monitor our existing livelihood and education programs. Simultaneously we keep exploring new possibilities with an aim to expand our network.</p>
		</div>
	</div>
</section>