<div class="resources-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Featured Case</h2>
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci vel nisl laoreet molestie. Etiam congue efficitur purus, eget pretium ipsum. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.</p>
		</div>
		<div class="col-md-6">
			<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.<p>	
		</div>
	</div>
</section>
<hr>

<!-- <section>
	<div class="container">
		<h2 class="text-center">Other Resources</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr> -->

<section id="photo-gallery">
    <div class="container">
        <h2 class="text-center">Photo Gallery</h2>
        <div class="row">
        	
        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_one_modal">
	        		<div class="album-box" id="album-one">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Women's Institution</h3>
							    	<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_two_modal">
	        		<div class="album-box" id="album-two">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Where We Work</h3>
							    	<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_three_modal">
	        		<div class="album-box" id="album-three">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Educational Programs</h3>
							    	<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-md-12 text-center"><a href="http://photos.manjarifoundation.in/" class="btn btn-primary" target="_blank">More Photos</a></div>
    </div>

</section>

<%= render 'womens_organization' %>
<%= render 'where_we_work' %>
<%= render 'education' %>