<div class="resources-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1>
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Featured Case Study</h2>
		<div class="col-md-12">
      <h3 class="sub-title">State-NGO Partnership for Livelihood Promotion</h3>
			<h4 class="sub-title">(Interventions in Livestock Sub-sector)</h4>

			<p>This case study conducted by two researchers from IIM Kashipur illustrates how focused development interventions have been able to raise community living standard in rural areas of Dholpur, Rajasthan. The study focuses on Pradan's and now Manjari’s active involvement in redefining livelihood opportunities for the deprived class in these areas. While explaining the organization’s involvement in adopting the goat rearing sub-sector, the study proceeds to define how they have identified limitations to the value chain and offered selective corrections. It further explains how the development professionals have played leading role in bringing in the benefits of government schemes to the underprivileged populace. Finally, the study addresses sustainability issues and explains its possible solution by organizing goat keepers into larger community based federations.</p>
		</div>
		<div class="col-md-12 text-center">
			<%= link_to 'Download Case Study', "/case_goat_iim_kashipur.pdf", class: 'btn btn-primary', target: '_blank'%>
		</div>
	</div>
</section>
<hr>

<section id="photo-gallery">
    <div class="container">
        <h2 class="text-center">Photo Gallery</h2>
        <div class="row">

        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_one_modal">
	        		<div class="album-box" id="album-one">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Women's Institution</h3>
							    	<p>Manjari Foundation helps realize the power of institution building by engaging rural women at grassroots level.</p>
							    	<p><i class="fa fa-eye" aria-hidden="true"></i>  Click To View</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_two_modal">
	        		<div class="album-box" id="album-two">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Where We Work</h3>
							    	<p>We are headquartered in Delhi but operate from the Dholpur district of Rajasthan, India.</p>
							    	<br>
							    	<p><i class="fa fa-eye" aria-hidden="true"></i>  Click To View</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-sm-6 col-md-4 col-lg-4">
        		<a href="#" data-toggle="modal" data-target="#album_three_modal">
	        		<div class="album-box" id="album-three">
	        			<div class="overlay">
							    <span class="album-content">
							    	<h3>Educational Programs</h3>
							    	<p>Manjari Foundation works towards educating underprivileged women about the significance of livelihood education and equal opportunities.</p>
							    	<p><i class="fa fa-eye" aria-hidden="true"></i>  Click To View</p>
							    </span>
							  </div>
	        		</div>
        		</a>
        	</div>

        	<div class="col-md-12 col-sm-12 text-center"><a href="http://photos.manjarifoundation.in/" class="btn btn-primary" target="_blank">More Photos</a></div>
    </div>

</section>

<%= render 'womens_organization' %>
<%= render 'where_we_work' %>
<%= render 'education' %>
