<div class="resources-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Featured Case</h2>
		<div class="col-md-6">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sed orci vel nisl laoreet molestie. Etiam congue efficitur purus, eget pretium ipsum. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit. Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.</p>
		</div>
		<div class="col-md-6">
			<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam. Vestibulum a finibus velit.<p>
			<a href="#" class="btn btn-primary">Download</a>	
		</div>
	</div>
</section>
<hr>

<section>
	<div class="container">
		<h2 class="text-center">Other Resources</h2>
		<div class="row">
			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<div class="resources-wrap">
					<div class="resources-box">
						<strong>Topic</strong>
					</div>
					<div class="resources-box-content">
						<p>Nunc tempor congue lorem quis consectetur. Vestibulum vitae convallis ligula. Nam scelerisque ante vitae ultricies aliquam.</p>
						<a href="#" class="btn btn-primary">Download</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<hr>

<%= render 'gallery' %>