<div class="healthcare-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Rural Healthcare Program</h2>
		<div class="col-md-12">
			<p class="text-justify">One pervasive problem in rural India is severe lack of Healthcare facilities. The general population is frequently under the threat of diseases and quite helpless without much access to proper medical care and professional treatment. The infant and maternal mortality rate in the areas where Manjari Foundation works is very high, which is an indication of the gravity of the healthcare situation.</p>
			<p class="text-justify">Manjari foundation, with assistance from TATA Trusts is working to solve the problem by creating a workforce of trained frontline healthcare staff in the villages and by linking the patients directly with doctors using a smart Mobile and Cloud based technology.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">How does it work</h3>
			<p class="text-justify">Manjari Foundation trains some of the active SHG members of villages in gathering household health information and in performing basic health care routines. These trained staff are called Jan Sakhis. Jan Sakhis are equipped with a smart phone which is loaded with a Cloud based Health Care Application that is very simple to use. Jan Sakhis visit all the households that are covered under this program and collect health related statistics from families. After the demographic data is collected, it is uploaded using the smart phone network to the central database in the Cloud. The data they collect include:</p>
			
			<ul class="healthcare-ul">
				<li><span>1. </span>Name, Age, Gender and Photograph of family members</li>
				<li><span>2. </span>Vital health parameters like blood pressure, sugar, weight and height, etc.</li>
				<li><span>3. </span>Pregnancy and child birth information</li>
				<li><span>4. </span>Immunization history</li>
				<li><span>5. </span>Past illness history, particularly – tuberculosis, silicosis, malaria, anemia, leprosy, etc.</li>
				<li><span>6. </span>Substance addiction like smoking, chewing tobacco, consuming alcohol etc.</li>
				<li><span>7. </span>Food habits (non-vegetarian or vegetarian)</li>
			</ul>

			<p class="text-justify">After registering the households, Jan Sakhis visit them and perform routine investigations every week. If any incidents of illness are reported, the Jan Sakhi collects health data on their mobile devices and uploads them to the central database in the Cloud. The doctors who are connected to this Cloud database are able to monitor the incoming issues and take appropriate action based on data provided. For less severe illness, often prescriptions are sent to the patient and Jan Sakhi, via the mobile platform. Based on the prescription medicines are procured from local medical stores. If a Jan Sakhi marks a case as critical, more urgent action like hospitalization is arranged. This intervention is simple and does not require patients to physically visit the doctors for treatment.</p>

			<p class="text-justify">You can see some of the pictures of Jan Sakhis in action in this photo album. <a href="http://photos.manjarifoundation.in/FullScreenSlideShow.aspx?gallery=4733161&mt=Photo" target="_blank"><b>Jan Sakhi Album</b></a></p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Smart Use of Cloud and Mobile based Technology</h3>
			<p class="text-justify">Cloud and Mobile based technology play a vital role in enabling this program. Manjari is partnered by Mobilitas, a Bengaluru based ICT company. Mobilitas has developed a cutting edge yet simple to use application called HeMoClo that has lent greater efficiency to this program and increased its outreach. The key factors that make HeMoClo very effective are:</p>

			<ul class="healthcare-ul">
				<li><span>1. </span>A heavily pictorial user interface on the mobile app enables easy capture of health parameters and illness symptoms.</li>
				<li><span>2. </span>The mobile phones connected to the cloud based application, links doctors and patients directly. Patient, ailment and medication data is stored in one place and available to view by patient, Jan Sakhis and doctors from anywhere via Internet.</li>
				<li><span>3. </span>In case of complicated ailments where diagnosis is complex, the patient can send a recorded audio-video snippet through the mobile app to the doctor.</li>
			</ul>

			<p class="text-justify">The use of Cloud and Mobile technology reduces the expenses, improves response times and operational efficiencies. It also eases data management challenges by easy access to centralized data.</p>
		</div>

		<div class="col-md-12">
			<h3 class="sub-title">Forward outlook of the Program</h3>
			<p class="text-justify">Once the pilot phase is over, it will be replicated in over 100 villages in first phase. This model can also be integrated with Government Health care systems in future to create a seamless community health system. Since the mobile app captures demographic health and illness information, the database being created is very useful for preventive healthcare and other purposes like:</p>

			<ul class="healthcare-ul">
				<li><span>1. </span>Tracking the data on Infant Mortality Rate, Maternal Mortality Rate, Sex Ratio per village/block/district levels.</li>
				<li><span>2. </span>Immunization tracking from each Anganwadi and Nurses.</li>
				<li><span>3. </span>Tracking of movement of Nurses, ANM, GNM and community based cadre, can be tracked as the tab has GPS system.</li>
				<li><span>4. </span>Specific disease outbreak or occurrences can be tracked and accordingly, human resources can be deployed or interventions planned.</li>
			</ul>

			<p class="text-justify">With more functional health workers well connected to doctors, this intervention foresees very significant reduction in Infant Mortality Rate and Maternal Mortality Rate. An overall improvement of health in villages that are covered by this initiative is envisaged through this intervention.</p>
		</div>
	</div>
</section>