<div class="where-we-wrok-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Where We Work</h2>
		<div class="col-md-12">
      <p>We are headquartered in Delhi but operate from four blocks of Dholpur Rajasthan.
      The four blocks covered at present are a) Bari, b) Baseri, c) Rajakheda, and d)
      Dausa. We have further plans of expansion to include districts of Udaipur,
      Chittorgarh, Rajasmand, Bheelwara, and Ajmer. This would enable us to reach out to
      more than 50000 rural families in the coming year. Here’s a brief about the
      geographical locations we cover and the present social setup we are working with.</p>
    </div>

    <div class="col-md-12">
      <h3 class="sub-title">Geographical Information</h3>
      <p>The Dholpur town is around 60 kms south of Agra accessible via Delhi-Gwalior
      national highway or NH 3. The district comprises three distinct geographical areas,
      i.e. the plain land, the rocky Aravali plateau also known as the Daang region and the
      Chambal basin. While the district is intersected by ravines along the entire stretch of
      Chambal river, low ranges of hills form the topography of the western part. These
      hills are mostly known for their mines and quarries of fine-grained red sandstone. It
      is the presence of Aravali which primarily dictates the region’s demography,
      topography, resources and livelihoods.</p>
    </div>
    <div class="col-md-12">
      <h3 class="sub-title">Social setup</h3>
      <p>The Dholpur district has many geographical variations which in turn dictate its social
      characteristics too. The region reflects an interesting mix of agriculture and non-farm
      sector both of which contribute to strengthen the domestic economy. While the soil is
      fertile but severe water shortage has retarded the growth of agriculture in this area.
      As an alternative many rural families have resorted to dairy and livestock farming.</p>
      <p>Women forming a major part of the society still remain underprivileged and ignored
      in Dholpur and surrounding regions though the situation is improving gradually. The
      present social setup demands diversification of occupation with more young people
      and women joining the force. Growing awareness about microfinance would also
      help boost production and market conditions in the region.</p>  
    </div>
	</div>
</section>
