<div class="youth-devlopment-banner">
  <div class="container">
      <div class="row">
          <div class="col-md-offset-6 col-md-6">
            <div class="banner-title">
              <h1>Manjari Foundation</h1> 
            </div>
          </div>
      </div>
  </div>
</div>

<section>
	<div class="container">
		<h2 class="text-center">Youth Development Program</h2>
		<div class="col-md-12">
			<p>Manjari Foundation focuses on improving employability of youth from rural areas and underprivileged section of society who can't have access to modern facilities and resources. Our Youth Development Program therefore aims at identifying unemployed youths primarily from SHG families who are eager to earn better living but don't know how to start!</p>
			<p>We arrange floor training for disadvantaged youths and also help them develop individual skills. This is done through our interested partners who are willing to train industrious youths from poor families. We further connect these youths with industries who are ready to recruit them as trainees and help them earn while they learn.</p>
			<p>The greatest achievement of our Youth Development Program lies in making underprivileged youth from SHG families self-sufficient and skillful enough to earn a decent income of a minimum of 7k.</p>
		</div>
	</div>
</section>