.contact-header {
    height: 400px;
    background: image-url("banner/contact-banner.JPG") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.address-icons i {
	color: #1C9E34;
}