/******************************** Common CSS ****************************/
.text-justify {
  text-align: justify;
}
.list {
  list-style: none;
}
/******************************** Search ****************************/
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
  height: 25px !important;
  width: 66px !important;
  margin-top: 5px !important;
}

.gscb_a {
  font: 20px/13px arial,sans-serif !important;
}

.gsc-orderby-container {
  text-align: left !important;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  background-color: #eee !important;
  border: 2px solid #fff !important;
}

#sidemenu-container {
  position: relative;
  z-index: 1;
}
#side-backdrop {
  display: block;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(0,0,0,.6);
}
/******************************** Banner ********************************/
.flash-container {
  width: 100%;
}
/******************************** Banner ********************************/
#home-slider-one {
  height: 400px;
  background: image-url("home_page/home-slider-one.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#home-slider-two {
  height: 400px;
  background: image-url("home_page/home-slider-two.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#home-slider-three {
  height: 400px;
  background: image-url("home_page/home-slider-three.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#home-slider-four {
  height: 400px;
  background: image-url("home_page/home-slider-four.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: relative;
}

#home-slider-four::before,
#home-slider-three::before,
#home-slider-two::before,
#home-slider-one::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  z-index: 0;
}

.banner-title {
  padding-left: 100px;
  color: #fff;
  width: 450px;
  text-align: justify;
  margin-top:50px;
}

.banner-title p{
  font-size: 16px;
}

.carousel-inner a {
  background-image: none !important;
}

@media screen and (max-width: 860px) {
  .banner-title {
    color: #fff;
    width: 350px;
    text-align: center;
  }
}
/***************************** what is manjari *********************************/
#main-page {
  background: #f2f2f2;
}

/***************************** our programs *********************************/
#our-programs {
  background: #000 image-url("home_page/background_image.jpg");
  background-size: cover;
}

#our-programs h2{
  color: #fff;
}

.programs-wrap {
  background: #fff;
  border-radius: 4px;
  margin: 0 0 30px;
}

.program-img {
  height: 180px;
  overflow: hidden;
}

.program-img img {
  display: block;
  height: 100%;
  width: 100%;
}

.program-content {
  padding: 20px 24px;
  height: 115px;
}

.program-content h4 {
  margin-top: 0;
}

.program-link {
  padding: 20px 24px;
  height: 90px;
}

@media screen and (max-width: 760px) {
  .program-img {
    height: 450px;
    overflow: hidden;
  }

  .program-content {
    padding: 20px 24px;
    height: 90px;
  }
}

@media screen and (max-width: 550px) {
  .program-img {
    height: 180px;
    overflow: hidden;
  }

  .program-content {
    padding: 20px 24px;
    height: 135px;
  }
}
/***************************** our impact *********************************/
#our-impact {
  background: #f2f2f2;
}

.feature-wrap {
  margin-bottom: 22px;
  overflow: hidden;
}

.feature-wrap h3 {
  margin-top: 46px;
  font-size: 18px;
}

.feature-wrap i {
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 85px;
  text-align:center;
  background: #ffffff;
  color: #1C9E34;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

// .feature-wrap i:hover {
//   background: #1C9E34;
//   color: #fff;
//   box-shadow: inset 0 0 0 5px #1C9E34;
//   -webkit-box-shadow: inset 0 0 0 5px #1C9E34;
//   border: 3px solid #1C9E34;
// }

/***************************** gallery *********************************/
// .carousel-control {
//   padding-top:10%;
//   width:5%;
//   font-size: 100px;
//   color: #1C9E34;
// }

.flexslider {
  margin-bottom: 35px;
}

.main-slider-img > li {
  height: 150px !important;
  overflow: hidden;
}

.main-slider-img > li > img {
  height: 100% !important;
}

@font-face {
  font-family: 'flexslider-icon';
  src: asset-url('flexslider-icon.eot');
  src: asset-url('flexslider-icon.eot?#iefix') format('embedded-opentype'), asset-url('flexslider-icon.woff') format('woff'), asset-url('flexslider-icon.ttf') format('truetype'), asset-url('flexslider-icon.svg#flexslider-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 15px;
  line-height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.flex-direction-nav .flex-prev {
  left: 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}
