.supporters-banner {
	height: 400px;
    background: image-url("banner/our_supporters_banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}