.resources-banner {
	height: 400px;
    background: image-url("banner/resources-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.resources-wrap {
	text-align: center;
	height: 100%;
	width: 100%;
	margin-bottom: 30px;
}

.resources-box {
	line-height: 200px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 230px;
	width: 100%;
}

.resources-box-content {
	margin-top : 20px;
}

.album-box {
  border: 1px solid #1C9E34;
  border-radius: 5px;
  width: auto;
  height:230px;
  margin-bottom: 30px;
}

#album-one {
  background: image-url("home-background.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#album-two {
  background: image-url("home-2.jpg") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#album-three {
  background: image-url("contact-banner.JPG") center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.overlay {
  background: #1C9E34;
  text-align:center;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  margin-top: 80px; 
}

.album-box:hover .overlay {
  opacity: 0.7;
}

.album-content > h3 {
  color: #fff;
}

.album-content > p {
  color: #fff;
}

.album-slider {
  margin-bottom: 5px;
}

.album-slider-img > li {
  height: 450px;
  overflow: hidden;
}

.album-slider-img > li > img {
  height: 100% !important;
}

.album-carousel {
  margin-bottom: 5px;
}

.album-carousel-img > li > img:hover {
  opacity: 0.5;
}

.album-carousel-img > li {
  height: 150px !important;
  overflow: hidden;
}

.album-carousel-img > li > img {
  height: 100% !important;
}