.resources-banner {
	height: 400px;
    background: image-url("resources-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.resources-wrap {
	text-align: center;
	height: 100%;
	width: 100%;
	margin-bottom: 30px;
}

.resources-box {
	line-height: 200px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	height: 230px;
	width: 100%;
}

.resources-box-content {
	margin-top : 20px;
}