.organization-banner {
	height: 400px;
    background: image-url("banner/womens-instituion-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.livlihood-banner {
	height: 400px;
    background: image-url("banner/livleihood-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.education-banner {
	height: 400px;
    background: image-url("banner/education-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.youth-devlopment-banner {
	height: 400px;
    background: image-url("banner/youth-devlopment-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}