.organization-banner {
	height: 400px;
    background: image-url("banner/womens-instituion-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.organization-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}

.livlihood-banner {
	height: 400px;
    background: image-url("banner/livleihood_banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.livlihood-banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 400px;
  background: rgba(0,0,0,0.3);
  z-index: 0;
}

.education-banner {
	height: 400px;
    background: image-url("banner/education_banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.youth-devlopment-banner {
	height: 400px;
    background: image-url("banner/youth-devlopment.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
