.our-mission-banner {
    height: 400px;
    background: image-url("our-mission-banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.how-we-started-banner {
	height: 400px;
    background: image-url("mahaadhivesan.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.where-we-wrok-banner {
	height: 400px;
    background: image-url("where_we_work.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}