.our-mission-banner {
    height: 400px;
    background: image-url("our_mission.JPG") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.principals-banner {
    height: 400px;
    background: image-url("core_principles_banner.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.how-we-started-banner {
	height: 400px;
    background: image-url("how_we_started.jpg") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}

.where-we-wrok-banner {
	height: 400px;
    background: image-url("where_we_work_banner.JPG") center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;	
}