<section id="bottom">
    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>about us</h3>
                    <ul>
                        <li><a href="/our-mission">Mission and Vision</a></li>
                        <li><a href="/where-we-work">Where we work</a></li>
                        <li><a href="/our-supporters">Our Supporters</a></li>
                    </ul>
                </div>    
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Activities</h3>
                    <ul>
                        <li><a href="/organization">Women’s Institutions</a></li>
                        <li><a href="/livlihood-programs">Livelihood Programs</a></li>
                        <li><a href="/education-programs">Educational Programs</a></li>
                    </ul>
                </div>    
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Resources</h3>
                    <ul>
                        <li><a href="/resources">Featured Content</a></li>
                        <li><a href="/resources">Photo Gallery</a></li>
                    </ul>
                </div>    
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="widget">
                    <h3>Contact Us</h3>
                    <ul>
                        <li>Manjari Foundation,</li>
                        <li>1/363, Anand Nagar,</li>
                        <li>Saipau Road, Dholpur,</li>
                        <li>Rajasthan.</li>
                    </ul>
                </div>    
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                &copy; 2016 <a target="_blank" href="/">Manjari Foundation</a>. All Rights Reserved. | <a target="_blank" href="/information-policy" >Information Policy</a> 
            </div>
            <!-- <div class="social col-sm-4">
                <ul class="social-share pull-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>
            </div> -->
        </div>
    </div>
</footer>