<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Manjari Foundation</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Who We Are <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/our_mission">Mission and Vision</a></li>
                        <li><a href="/how_we_started">How we started</a></li>
                        <li><a href="/where_we_work">Where we work</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">What We Do <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Prepare Not Repair</a></li>
                        <li><a href="#">Manjari Ganitha</a></li>
                    </ul>
                </li>

                <li><a href="#">Our Expertise</a></li>

                <li><a href="#">Resources</a></li>
                
                <li class="<%= 'active' if action_name=='contact'%>"><a href="/contact">Engage</a></li>
            </ul>
        </div>
    </div>
</nav>

<script type="text/javascript">
    $(".alert-success" ).fadeOut(7000);
</script>
